# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# PyCharm
.idea/

# Data
data/raw/
data/processed/

# Results
results/best_cnn.pt
results/best_cnn_base_seed42.csv
results/best_cnn_aug_seed42.csv

# OS
.DS_Store
Thumbs.db
